<?xml version="1.0" encoding="UTF-8" ?> <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> <!--相当于UserMapper接口的实现 namespace必须是UserMapper类路径-->
<mapper namespace="com.cbs.business.object.BusinessObjectMapper">
    <!-- 开启基于redis的二级缓存 -->
<!--    <cache type="com.business.object.RedisCache"/>-->
    <!-- findById必须和接口中的方法名一样 返回一个User-->
    <select id="findByBOID" parameterType="int"
            resultType="com.cbs.business.object.BusinessObject">
        select * from BusinessObject where id=#{id}
    </select>
<!--  这里为 修改 添加到 cache 中-->
<!--    <update id="update" parameterType="Product" flushCache="true">-->
<!--        UPDATE products SET name = #{name}, price = #{price} WHERE id = #{id} LIMIT 1-->
<!--    </update>-->

</mapper>